<head>
    <title>Todo list</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>
<body>
    <header>
        <h1>todo <span>list</span></h1>
        <h2>A simple todo list app built with Node</h2>
    </header>
    <section class="form">
        <input type="text" id="todoInput" placeholder="Type your task..." />
    </section>
    <p class="error"></p>
    <ul class="list">
        <li class='task'>Starter list <span>X</span></li>
    </ul>
    
    <script type="text/javascript" src="app.js"></script>
</body>